body{
	background-color: #323232;
}

.upcoming{
	margin-bottom:35px;
}

.upcoming h3{
	text-align: center;
	font-size: 20px;
}

.bg-warning{
	border-radius:20px;
	margin-bottom: 20px;
	margin-top: 30px;
	box-shadow: 0px 5px 0px #00FFFF;
}


h2{
	vertical-align: middle;
	margin-top: 20px;
	margin-bottom: 30px;
	padding-bottom: 5px;
	background-color: black;
	border-radius: 20px;
}

span{
	margin-bottom: 20px;
}

a:link{
	text-decoration: none;
}

a:visit{
	text-decoration: none;
}

.container {
  position: relative;
  width: 100%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  border: 0px solid white;
  opacity: 0;
  transition: opacity 1s, border 1s;
}
.btn:active{
	  outline:none;
}

.container .btn:hover {
  opacity: 1;
  border: 3px solid white;
}