body{
	background-color: #FAF61B;
}

table, th, td, tr {
  border: none;
}

.container{
	padding-top: 200px; 
}

.btn {
	background-color: white;
    color: black;
    font-size: 30px;
    margin-top: 5px;
    padding: 0px 50px 0px 50px;
    }

.cancel:hover{
	color:white;
}


.border-dark{
    border-bottom: 2px solid gray;
}

.cancel{
	background-color: rgba(0, 0, 0, 1);
    color: white;
    font-size: 30px;
    margin-top: 5px;
    padding: 0px 50px 0px 50px;
}